body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
h3{
    text-align: left;
}
section{
    display: flex;
}
.t_color{
    color: orangered;
    font-weight: 1000;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 70%;
    padding-left: 15%;
}
.food_suggestion{
    font-size: 25px;
    padding-bottom: 50px;
}
.order-button{
    font-size: 30px;
    color: white;
    background-image: linear-gradient(orange,tomato );
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 40px;
}
.introduction_myself{
    font-size: 25px;
    padding-bottom: 40px;
}
.mid{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: left;
}
.about-button{
    font-size: 50x;
    color: white;
    background-image: linear-gradient(orange,tomato );
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 40px;
}
.headline{
    text-align: center;
    padding: 10px;
}
.recipie-item{
    display: flex;
}
.item{
    width: 50%;
    padding: 1%;
    box-shadow: 0 20px 50px 0 rgb(150, 144, 144);
    margin: 80px;
    border-radius: 15px;
    
}
.item img{
    width: 100%;
}
.followeers{
    display: flex;
    box-shadow: 1px 1px 15px rgb(204, 202, 202);
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: -25px;
}
.likes{
    padding-left: 200px;
}
.review_section{
    box-shadow: 0px 0px 5px rgb(204, 202, 202);
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.feedback_section{
    width: 300px;
    border-radius: 10px;
    height: 50px;
    padding: 5px;
}
.rating{
    padding: 15px;
}
.submit_button{
    width: 100px;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(salmon, tomato);
}

.footer{
    background-color: rgb(1, 1, 10);
    text-align: center;
    font-size: larger;
    padding: 20px;
    color: antiquewhite;
    margin-top: 15px;
}
.ftext_color{
    color: rgb(102, 98, 98);
    font-weight: 1000;
}