body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.special{
    color: orangered;
}
.half-width{
    width: 50%;
    padding: 2%;
}
.half-width img{
    width: 70%;
    padding-left: 15%;
}
.food_suggestion{
    font-size: 25px;
    padding-bottom: 50px;
}
.order-button{
    font-size: 30px;
    color: white;
    background-image: linear-gradient(orange,tomato );
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
}
.mid{

display: flex;
}

